<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Donor Profile Section</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <link href="../css/style.css" rel="stylesheet">

   <link href="../css/style.css" rel="stylesheet">


</head>

<body>

   <div class="container">

      <div class="row">

         <div class="col-lg-6">
            <div id="left-div">
               <div id="profile-img">
                  <img src="../../public/img/dummy.png"></img>
               </div>

               <p class="profile-header-text">Name:</p>
               <p class="profile-text">name here</p>
               <p class="profile-header-text">Member Type:</p>
               <p class="profile-text">member type here</p>
               <p class="profile-header-text">Member Since:</p>
               <p class="profile-text">date here</p>
               <p class="profile-header-text">Stats:</p>
               <p class="profile-text">#s here</p>
               <hr>

               <div id="comments-div">
                  <p class="profile-header-text">Comments:</p>
                  <ul id="comments-list">
                     <li>he is awesome</li>
                     <li>he is cool</li>
                     <li>he is on time</li>

                  </ul>
               </div>
            </div>
            <!--close left div-->
         </div>
         <!--close col-->



         <div class="col-lg-6">
            <div id="view-port">
               <h5>View Port</h5>
            </div>

         </div>
         <!--close col-->
      </div>
      <!--close row-->
   </div>
   <!--close container-->

   <!-- Footer -->
   <footer class="footer bg-light fixed-bottom">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
               <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                     <a href="#">About</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                     <a href="#">Contact</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                     <a href="#">Terms of Use</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                     <a href="#">Privacy Policy</a>
                  </li>
               </ul>
               <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
               <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-3">
                     <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
                  </li>
                  <li class="list-inline-item mr-3">
                     <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>


   <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

   <script src="../../public/js/profile-donor.js"></script>

</body>

</html>