<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title> About Us Page </title>

    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap core CSS for about us page only -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Styles for aboutus template -->  
    <link href="css/round-about.css" rel="stylesheet">

    <!-- Nav Bar only CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/landing-page.css" rel="stylesheet">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="navbar-brand" src="img/leftovers-delight-logo-2.png">
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comments">Comment</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="/login">Log In</a>
                </li>

            </ul>

        </div>
    </nav>
<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4"> Meet the Team </h1>


    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/img/c5.jpg" alt="">
            <h4> Brandon Gaitlin
                <small> Co-Leader </small>
                </h3>
                <p> Brandon is one of two leaders for the group. He was the mastermind in the backend, database routing, volunter page and Twilio.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/img/c3.jpg" alt="">
            <h4> Fernando Fuentes
                <small> Co-Leader</small>
            </h4>
            <p> Fernando is one of two leaders for the group. He was the UI mastermind behind the site.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/img/c2.jpg" alt="">
            <h4> Will Battles
                <small> Coder </small>
            </h4>
            <p>In charge of the donation page, About Us and the one glorious react component</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/img/c4.jpg" alt="">
            <h4> Dan Smith
                <small> Coder </small>
            </h4>
            <p> In charge of the donation page, and routing </p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/img/c1.jpg" alt="">
            <h4> Alex Robinson
                <small> Coder </small>
            </h4>
            <p> In charge of the navigation, routing and image sourcing. </p>
        </div>

        <!-- ReactJS is run in this portion of the webpage only! -->

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <div id='unlinkingreact' class='mt-3'></div>
        </div>

    </div>

</div>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <img style="max-width:200px; margin-bottom:30px;" src="img/leftovers-delight-logo-2.png">
                </div>
                <div class="col-12">
                    <span class="copyright">©2018 Leftovers Delight</span>
                </div>
    
            </div>
        </div>
    </footer>

        <!-- all below scripts are for just interacting jQuery with React Component -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>



</body>

</html>