<!DOCTYPE html>
<html>

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- TITLE -->
   <title>Family Meal FAQ Page</title>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- GOOGLE FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="css/style.css" rel="stylesheet">
   <link href="css/comments-page.css" rel="stylesheet">

</head>

<body>
   <!-- Navigation -->

   <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
         <a class="navbar-brand" href="/"><img class="navbar-brand" src="img/fml-logo-2.png"></a>
         <ul class="nav nav-pills">
            <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/comments">Comment</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/sign-up">Sign-Up</a>
            </li>

         </ul>
         <a class="btn btn-primary" href="/sign-up">Sign In</a>
      </div>
   </nav>
   <div class="container">
      <h1>FAQ</h1>

      <div class="row">
         <div class="col-12">
            <div>
               <h2>1. Is it legal/safe for restaurants to donate food?</h2>
               <p>Yes! This misunderstanding comes from years ago, when there were more hurdles to donation. However, since 1996, it has been legal, at the federal level, for restaurants to donate food thanks to the <a href="https://en.wikipedia.org/wiki/Bill_Emerson_Good_Samaritan_Act_of_1996"
                    target="_blank">Bill Emerson Good Samaritan Food Doantion Act</a>, signed under President Bill Clinton.
               </p><br>
            </div>
            <div>
               <h2>2. Why should I donate food?</h2>
               <p>Other than helping local families and the environment, restaurants can deduct their donations on their <a href="http://www.restaurant.org/News-Research/News/Tax-changes-likely-to-boost-food-donations" target="_blank">taxes</a>.
               </p><br>
            </div>
         </div>
      </div>

   </div>

   <!-- Footer -->
   <footer class="footer bg-light fixed-bottom">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
               <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                     <a href="#">About</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                     <a href="#">Contact</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                     <a href="#">Terms of Use</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                     <a href="#">Privacy Policy</a>
                  </li>
               </ul>
               <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
               <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-3">
                     <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
                  </li>
                  <li class="list-inline-item mr-3">
                     <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
                  </li>
                  <li class="list-inline-item">
                     <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>