<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TITLE -->
    <title>Leftovers Delight Signup Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/landing-page.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->

    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="navbar-brand" src="img/leftovers-delight-logo-2.png"></a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comments">Comment</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="/login">Log In</a>
                </li>

            </ul>

        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white">
        <div class="overlay"></div>
        <div class="container sub-container-divider">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <span class="home-heading">FAQ</span>
                    <br><span class="home-subheading">Facts - Answers - Questions</span>
                </div>
            </div>
        </div>
    </header>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/food-donate2.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>1. Is it legal/safe for restaurants to donate food?</h2>
                    <p>Yes! This misunderstanding comes from years ago, when there were more hurdles to donation. However, since 1996, it has been legal, at the federal level, for restaurants to donate food thanks to the <a href="https://en.wikipedia.org/wiki/Bill_Emerson_Good_Samaritan_Act_of_1996"
                            target="_blank">Bill Emerson Good Samaritan Food Doantion Act</a>, signed under President Bill Clinton.
                    </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/food-donate.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>2. Why should I donate food?</h2>
                    <p>Other than helping local families and the environment, restaurants can deduct their donations on their <a href="http://www.restaurant.org/News-Research/News/Tax-changes-likely-to-boost-food-donations" target="_blank">taxes</a>.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
                        <h5>Margaret E.</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Thank you for the great food!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
                        <h5>Sarah	W.</h5>
                        <p class="font-weight-light mb-0">"Muchas Grassy Ass!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <img style="max-width:200px; margin-bottom:30px;" src="img/leftovers-delight-logo-2.png">
                </div>
                <div class="col-12">
                    <span class="copyright">©2018 Leftovers Delight</span>
                </div>

            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/signup.js"></script>
    <script type="text/javascript" src="js/konami.js"></script>
</body>

</html>
