<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Family Meal</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <div class="container">
    <h1>FAQ</h1>

    <div class="row">
      <div class="col-12">
        <div>
          <h2>1. Is it legal/safe to for restaurants to donate food?</h2>
          <p>Yes! This misunderstanding comes from year ago, when there were more hurdles to donation. However, since 1996, it has been legal, at the federal level, for restaurants to donate food thanks to the <a href="https://en.wikipedia.org/wiki/Bill_Emerson_Good_Samaritan_Act_of_1996">Bill Emerson Good Samaritan Food Doantion Act</a>,
            signed under President Bill Clinton.</p><br>
        </div>
        <div>
          <h2>2. How tasty is your food?</h2>
          <p>Not so much...</p><br>
        </div>
      </div>
    </div>



  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>