<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Family Meal</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1>Family Meal App</h1>

    <div class="row">
      <div class="col-md-12">
        <div>
          <a href="/sign-up"><button type="button" class="btn btn-primary">Sign Up</button></a>
        </div>

        <div>
          <a href="/faq"><button type="button" class="btn btn-primary">FAQ</button></a>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <h2>Our Story: What is Family Meal?</h2>
        <p>
          Family Meal was inspired by my experience as a restaurant worker. At the end of every shift, we’d have quite a bit of food to throw away. We made the best of things by eating what leftovers we could and called it “family meal.”
        </p>
        <p>
          In the United States, roughly
          <a href="https://www.theguardian.com/environment/2016/jul/13/us-food-waste-ugly-fruit-vegetables-perfect?CMP=share_btn_tw">60 million tons</a> of food is thrown out - this equates to around $160 Million. 50% of produce is thrown out, often for
          merely aesthetic reasons. This means that the biggest occupier of space in landfills is our food.
        </p>
        <h3>How does it work?</h3>
        <p>
          Family Meal works by linking businesses with extra food and shelters by using volunteers to deliver the food. A donor posts what they have to donate, then, the donation goes up on a donation board for shelters to claim and for volunteers to "pick up".
          A volunteer signs up for the donation, then gets google maps directions to where the food is. After pick up, the volunteer gets new directions to where the food is headed. Lastly, the shelter signs that the food has been delivered.
        </p>
      </div>
    </div>



  </div>
  <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
</body>

</html>