.card {
    /* padding: 10px; */
}

.comment-input {
    width: 95%;
    height: 300px;
}

.card-img-top {
    margin-left: 20px;
}

* {
    /* border: .5px solid red; */
}

/* SEARCH SECTION */

.search-row {
    margin-bottom: 40px;
}

.search-row button {
    margin: 10px 0;
}

a {
    color: #333333;
}