<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Leftovers Delight</title>

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- Custom fonts for this template -->
   <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

   <!-- Custom styles for this template -->
   <link href="../../public/css/landing-page.css" rel="stylesheet">
   <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css" />


   <link href="../css/style.css" rel="stylesheet">
   <link href="../../public/css/custom.css" rel="stylesheet">
</head>

<body>

   <!-- Navigation -->

   <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
         <a class="navbar-brand" href="/"><img class="navbar-brand" src="../img/leftovers-delight-logo-2.png"></a>
         <ul class="nav nav-pills">
            <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/comments">Comment</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/sign-up">Sign-Up</a>
            </li>

         </ul>
         <a class="btn btn-primary" href="/sign-up">Sign In</a>
      </div>
   </nav>

   <div class="container">

      <h1>Recipient Sign Up Page</h1>

      <form class="add-recipient-form">

         <h2> Please Enter Your Companies Information Below To Get Started </h2>

         <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
               <label for="input-first-name"> Company Name </label>
               <input type="text" class="form-control" id="input-recipient-name" data-validation="required" placeholder="ex. Jim Bobs Food 'N Stuff'">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
               <label for="input-email">Phone Number</label>
               <input type="text" class="form-control" data-format="(ddd) ddd-dddd" id="input-recipient-phone" data-validation="required custom" data-validation-regexp="^[\(]{0,1}[0-9]{3}[\)]{0,1}[ ]{0,1}[0-9]{3}[- ]{0,1}[0-9]{4}$" placeholder="1-800-Give-Me-Food">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
               <label for="input-email-address">Email</label>
               <input type="text" class="form-control" data-validation="email required" id="input-recipient-email" placeholder="Email">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-12">
               <label for="input-address">Address</label>
               <input type="text" class="form-control" id="input-recipient-address" data-validation="required alphanumeric" data-validation-allowing="#.- " placeholder="1234 Main St">
            </div>
         </div>

         <div class="form-row">
            <div class="form-group col-md-4 col-sm-12">
               <label for="input-city">City</label>
               <input type="text" class="form-control" placeholder="Houston" data-validation="required" id="input-city">
            </div>
            <div class="form-group col-md-3 col-sm-12">
               <label for="input-state">State</label>
               <select id="input-state" data-validation="required" class="form-control">
            <option value="" selected>Choose...</option>
            <option value="TX">Texas</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            </option>
          </select>
            </div>

            <div class="form-group col-md-3 col-sm-12">
               <label for="input-zip">Zip</label>
               <input type="text" class="form-control" data-validation="required number length" data-validation-length="5" id="input-recipient-zip">
            </div>

            <div class="col-md-8">
               <button type="submit" id="submit-volunteer-new" class="btn btn-primary">Submit</button>
            </div>
         </div>

      </form>
   </div>
   <!--close container-->

   <!-- Footer -->
   <footer class="footer bg-light">
      <div class="container">
         <div class="row text-center">
            <div class="col-12">
               <img style="max-width:200px; margin-bottom:30px;" src="../img/leftovers-delight-logo-2.png">
            </div>
            <div class="col-12">
               <span class="copyright">©2018 Leftovers Delight</span>
            </div>

         </div>
      </div>
   </footer>

   <!-- Begin modal -->
   <!-- Modal -->
   <div class="modal fade" id="recipientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <!-- <h5 class="modal-title" id="exampleModalLabel">Welcome to the team!</h5> -->
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
               <h5 id="modal-body-text" style="text-align: center"></h5>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
   <!-- End modal -->




   <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
   <script>
      $.validate({
         modules: 'security, html5'
      });
   </script>

   <script src="/js/recipient-signup-script.js"></script>

</body>

</html>